body {
	color: #fff; /* Цвет текста */
}
img {
	border: 1px solid #808080;
}
.shiny-button {
	width:275px;
	height:25px;
	display: inline-block;
	text-align: center;
	border-width: 1px;
	border-style: solid;
	text-transform: uppercase;
	text-decoration: none;
	line-height: 1.1;
	font-weight: normal;
	font-family: sans-serif;
	color: #C0C0C0;
	font-size: 12px;
	background-color: #2b2b2b;
	background-image: -webkit-linear-gradient(top, #2e2e2e 0%, #3f3f3f 48%, #2b2b2b 49%, #2b2b2b 82%, #393939 100%);
	background-image: -moz-linear-gradient(top, #2e2e2e 0%, #3f3f3f 48%, #2b2b2b 49%, #2b2b2b 82%, #393939 100%);
	background-image: -o-linear-gradient(top, #2e2e2e 0%, #3f3f3f 48%, #2b2b2b 49%, #2b2b2b 82%, #393939 100%);
	background-image: linear-gradient(top, #2e2e2e 0%, #3f3f3f 48%, #2b2b2b 49%, #2b2b2b 82%, #393939 100%);
	border-color: hsl(0, 0%, 17%);
	-webkit-box-shadow: inset 0 0 1px 1px #616161, 0 0 1px 3px rgba(0, 0, 0, 0.15);
	-moz-box-shadow: inset 0 0 1px 1px #616161, 0 0 1px 3px rgba(0, 0, 0, 0.15);
	box-shadow: inset 0 0 1px 1px #616161, 0 0 1px 3px rgba(0, 0, 0, 0.15);
	-webkit-text-shadow: 1px 1px 1px #000;
	-moz-text-shadow: 1px 1px 1px #000;
	-o-text-shadow: 1px 1px 1px #000;
	text-shadow: 1px 1px 1px #000;
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border-radius: 0px;
	padding: 12px 30px 12px 30px;
}
.shiny-button strong {
	letter-spacing: 1px;
	font-size: 30px;
}
.shiny-button:hover {
	color: #FFFFFF;
	background-color: #333;
	background-image: -webkit-linear-gradient(top, #363636 0%, #474747 48%, #333 49%, #333 82%, #414141 100%);
	background-image: -moz-linear-gradient(top, #363636 0%, #474747 48%, #333 49%, #333 82%, #414141 100%);
	background-image: -o-linear-gradient(top, #363636 0%, #474747 48%, #333 49%, #333 82%, #414141 100%);
	background-image: linear-gradient(top, #363636 0%, #474747 48%, #333 49%, #333 82%, #414141 100%);
	border-color: hsl(0, 0%, 20%);
	-webkit-box-shadow: inset 0 0 1px 1px #666, 0 0 1px 3px rgba(0, 0, 0, 0.15);
	-moz-box-shadow: inset 0 0 1px 1px #666, 0 0 1px 3px rgba(0, 0, 0, 0.15);
	box-shadow: inset 0 0 1px 1px #666, 0 0 1px 3px rgba(0, 0, 0, 0.15);
	-webkit-text-shadow: 1px 1px 1px #000;
	-moz-text-shadow: 1px 1px 1px #000;
	-o-text-shadow: 1px 1px 1px #000;
	text-shadow: 1px 1px 1px #000;
}
shiny-button:active {
	color: #C0C0C0;
	background-color: #232323;
	background-image: -webkit-linear-gradient(top, #1e1e1e 0%, #2b2b2b 100%);
	background-image: -moz-linear-gradient(top, #1e1e1e 0%, #2b2b2b 100%);
	background-image: -o-linear-gradient(top, #1e1e1e 0%, #2b2b2b 100%);
	background-image: linear-gradient(top, #1e1e1e 0%, #2b2b2b 100%);
	padding: 13px 30px 11px 30px;
}
.LogIn {
	position:fixed;
	top:350;
	left:-5;
	border: 5px solid #696969;
	padding: 0 10px;
	width:120px;
	height:180px;
}
.LogInText {
	background-color: #2b2b2b;
	color: #FFFFFF;
	border: solid #A9A9A9
}
.LogInButton {
	width:120px;
	height:25px;
	display: inline-block;
	text-align: center;
	border-width: 1px;
	border-style: solid;
	text-transform: uppercase;
	text-decoration: none;
	line-height: 1.1;
	font-weight: normal;
	font-family: sans-serif;
	color: #C0C0C0;
	font-size: 20px;
	background-color: #2b2b2b;
	background-image: -webkit-linear-gradient(top, #2e2e2e 0%, #3f3f3f 48%, #2b2b2b 49%, #2b2b2b 82%, #393939 100%);
	background-image: -moz-linear-gradient(top, #2e2e2e 0%, #3f3f3f 48%, #2b2b2b 49%, #2b2b2b 82%, #393939 100%);
	background-image: -o-linear-gradient(top, #2e2e2e 0%, #3f3f3f 48%, #2b2b2b 49%, #2b2b2b 82%, #393939 100%);
	background-image: linear-gradient(top, #2e2e2e 0%, #3f3f3f 48%, #2b2b2b 49%, #2b2b2b 82%, #393939 100%);
	border-color: hsl(0, 0%, 17%);
	-webkit-box-shadow: inset 0 0 1px 1px #616161, 0 0 1px 3px rgba(0, 0, 0, 0.15);
	-moz-box-shadow: inset 0 0 1px 1px #616161, 0 0 1px 3px rgba(0, 0, 0, 0.15);
	box-shadow: inset 0 0 1px 1px #616161, 0 0 1px 3px rgba(0, 0, 0, 0.15);
	-webkit-text-shadow: 1px 1px 1px #000;
	-moz-text-shadow: 1px 1px 1px #000;
	-o-text-shadow: 1px 1px 1px #000;
	text-shadow: 1px 1px 1px #000;
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border-radius: 0px;
}
.LogInButton strong {
	letter-spacing: 1px;
	font-size: 20px;
}
.LogInButton:hover {
	color: #FFFFFF;
	background-color: #333;
	background-image: -webkit-linear-gradient(top, #363636 0%, #474747 48%, #333 49%, #333 82%, #414141 100%);
	background-image: -moz-linear-gradient(top, #363636 0%, #474747 48%, #333 49%, #333 82%, #414141 100%);
	background-image: -o-linear-gradient(top, #363636 0%, #474747 48%, #333 49%, #333 82%, #414141 100%);
	background-image: linear-gradient(top, #363636 0%, #474747 48%, #333 49%, #333 82%, #414141 100%);
	border-color: hsl(0, 0%, 20%);
	-webkit-box-shadow: inset 0 0 1px 1px #666, 0 0 1px 3px rgba(0, 0, 0, 0.15);
	-moz-box-shadow: inset 0 0 1px 1px #666, 0 0 1px 3px rgba(0, 0, 0, 0.15);
	box-shadow: inset 0 0 1px 1px #666, 0 0 1px 3px rgba(0, 0, 0, 0.15);
	-webkit-text-shadow: 1px 1px 1px #000;
	-moz-text-shadow: 1px 1px 1px #000;
	-o-text-shadow: 1px 1px 1px #000;
	text-shadow: 1px 1px 1px #000;
}
.LogInButton:active {
	color: #C0C0C0;
	background-color: #232323;
	background-image: -webkit-linear-gradient(top, #1e1e1e 0%, #2b2b2b 100%);
	background-image: -moz-linear-gradient(top, #1e1e1e 0%, #2b2b2b 100%);
	background-image: -o-linear-gradient(top, #1e1e1e 0%, #2b2b2b 100%);
	background-image: linear-gradient(top, #1e1e1e 0%, #2b2b2b 100%);
}
.LoggedIn {
	position:fixed;
	top:350;
	left:-5;
	border: 5px solid #696969;
	padding: 0 10px;
	width:120px;
	height:180px;
}
.LoggedInText {
	color: #FFFFFF;
}
.Registration {
	position:absolute;
	top:257;
	left:289;
	border: 1px solid gray;
	padding: 0 10px;
	width:1323px;
	height:300px;
	text-align: middle
}
.RegistrationText {
	background-color: #2b2b2b;
	color: #FFFFFF;
	border: solid #A9A9A9
}
.RegistrationButton {
	cursor:pointer;
	width:120px;
	height:25px;
	margin-left: 604px;
	display: inline-block;
	text-align: center;
	border-width: 1px;
	border-style: solid;
	text-transform: uppercase;
	text-decoration: none;
	line-height: 1.1;
	font-weight: normal;
	font-family: sans-serif;
	color: #C0C0C0;
	font-size: 12px;
	background-color: #2b2b2b;
	background-image: -webkit-linear-gradient(top, #2e2e2e 0%, #3f3f3f 48%, #2b2b2b 49%, #2b2b2b 82%, #393939 100%);
	background-image: -moz-linear-gradient(top, #2e2e2e 0%, #3f3f3f 48%, #2b2b2b 49%, #2b2b2b 82%, #393939 100%);
	background-image: -o-linear-gradient(top, #2e2e2e 0%, #3f3f3f 48%, #2b2b2b 49%, #2b2b2b 82%, #393939 100%);
	background-image: linear-gradient(top, #2e2e2e 0%, #3f3f3f 48%, #2b2b2b 49%, #2b2b2b 82%, #393939 100%);
	border-color: hsl(0, 0%, 17%);
	-webkit-box-shadow: inset 0 0 1px 1px #616161, 0 0 1px 3px rgba(0, 0, 0, 0.15);
	-moz-box-shadow: inset 0 0 1px 1px #616161, 0 0 1px 3px rgba(0, 0, 0, 0.15);
	box-shadow: inset 0 0 1px 1px #616161, 0 0 1px 3px rgba(0, 0, 0, 0.15);
	-webkit-text-shadow: 1px 1px 1px #000;
	-moz-text-shadow: 1px 1px 1px #000;
	-o-text-shadow: 1px 1px 1px #000;
	text-shadow: 1px 1px 1px #000;
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border-radius: 0px;
}
.RegistrationButton strong {
	letter-spacing: 1px;
	font-size: 20px;
}
.RegistrationButton:hover {
	color: #FFFFFF;
	background-color: #333;
	background-image: -webkit-linear-gradient(top, #363636 0%, #474747 48%, #333 49%, #333 82%, #414141 100%);
	background-image: -moz-linear-gradient(top, #363636 0%, #474747 48%, #333 49%, #333 82%, #414141 100%);
	background-image: -o-linear-gradient(top, #363636 0%, #474747 48%, #333 49%, #333 82%, #414141 100%);
	background-image: linear-gradient(top, #363636 0%, #474747 48%, #333 49%, #333 82%, #414141 100%);
	border-color: hsl(0, 0%, 20%);
	-webkit-box-shadow: inset 0 0 1px 1px #666, 0 0 1px 3px rgba(0, 0, 0, 0.15);
	-moz-box-shadow: inset 0 0 1px 1px #666, 0 0 1px 3px rgba(0, 0, 0, 0.15);
	box-shadow: inset 0 0 1px 1px #666, 0 0 1px 3px rgba(0, 0, 0, 0.15);
	-webkit-text-shadow: 1px 1px 1px #000;
	-moz-text-shadow: 1px 1px 1px #000;
	-o-text-shadow: 1px 1px 1px #000;
	text-shadow: 1px 1px 1px #000;
}
RegistrationButton:active {
	color: #C0C0C0;
	background-color: #232323;
	background-image: -webkit-linear-gradient(top, #1e1e1e 0%, #2b2b2b 100%);
	background-image: -moz-linear-gradient(top, #1e1e1e 0%, #2b2b2b 100%);
	background-image: -o-linear-gradient(top, #1e1e1e 0%, #2b2b2b 100%);
	background-image: linear-gradient(top, #1e1e1e 0%, #2b2b2b 100%);
}
.CreateButton{
	cursor: pointer;
	position:absolute;
	top:630;
	left:0;
	border: 3px solid #A9A9A9;
	width:200px;
	height:50px;
	display: inline-block;
	text-align: center;
	text-transform: uppercase;
	text-decoration: none;
	line-height: 1.1;
	font-weight: normal;
	font-family: sans-serif;
	color: #C0C0C0;
	font-size: 20px;
	background-color: #2b2b2b;
	background-image: -webkit-linear-gradient(top, #2e2e2e 0%, #3f3f3f 48%, #2b2b2b 49%, #2b2b2b 82%, #393939 100%);
	background-image: -moz-linear-gradient(top, #2e2e2e 0%, #3f3f3f 48%, #2b2b2b 49%, #2b2b2b 82%, #393939 100%);
	background-image: -o-linear-gradient(top, #2e2e2e 0%, #3f3f3f 48%, #2b2b2b 49%, #2b2b2b 82%, #393939 100%);
	background-image: linear-gradient(top, #2e2e2e 0%, #3f3f3f 48%, #2b2b2b 49%, #2b2b2b 82%, #393939 100%);
	-webkit-box-shadow: inset 0 0 1px 1px #616161, 0 0 1px 3px rgba(0, 0, 0, 0.15);
	-moz-box-shadow: inset 0 0 1px 1px #616161, 0 0 1px 3px rgba(0, 0, 0, 0.15);
	box-shadow: inset 0 0 1px 1px #616161, 0 0 1px 3px rgba(0, 0, 0, 0.15);
	-webkit-text-shadow: 1px 1px 1px #000;
	-moz-text-shadow: 1px 1px 1px #000;
	-o-text-shadow: 1px 1px 1px #000;
	text-shadow: 1px 1px 1px #000;
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	padding: 12px 30px 12px 30px;
}
.Thread{
	position:absolute;
	top:280;
	left:289;
	width:1342px;
	height:1000px;
}
.TitleInThread{
	position:absolute;
	top:0;
	left:0;
	border: 3px solid #A9A9A9;
	width:670px;
	height:90px;
	background-color: #2E2E2E;
}
.TextInThread{
	position:absolute;
	top:110;
	left:0;
	border: 3px solid #A9A9A9;
	width:1338px;
	height:500px;
	background-color: #2E2E2E;
}
.Header{
	position:absolute;
	top:280;
	left:289;
	border: 3px solid #A9A9A9;
	padding: 0 10px;
	width:670px;
	height:90px;
	background-color: #2E2E2E;
}
.CreateThread{
	position:absolute;
	top:280;
	left:990;
	border: 3px solid #A9A9A9;
	padding: 0 10px;
	width:618px;
	height:90px;
	background-color: #2E2E2E;;
}
.Head{
	position:absolute;
	top:390;
	left:289;
	border: 3px solid #A9A9A9;
	padding: 0 10px;
	width:1320px;
	height:45px;
	background-color: #2E2E2E;
}
.Title{
	position:absolute;
	top:0;
	left:0;
	border-right: 3px solid #A9A9A9;
	padding: 0 10px;
	width:673px;
	height:45px;
	background-color: #2E2E2E;
}
.Username{
	position:absolute;
	top:0;
	left:700;
	border-right: 3px solid #A9A9A9;
	padding: 0 10px;
	width:380px;
	height:45px;
	background-color: #2E2E2E;
}
.NumberOfComments{
	position:absolute;
	top:0;
	left:1110;
	width:220px;
	height:45px;
	background-color: #2E2E2E;
}
.HeaderDeveloper{
	position:absolute;
	top:290;
	left:725;
	border: 3px solid #585858;
	padding: 0 10px;
	width:450px;
	height:55px;
	background-color: #2E2E2E;
}
.News{
	position:absolute;
	top:380;
	left:588;
	border: 3px solid #585858;
	padding: 0 10px;
	width:100px;
	height:50px;
	background-color: #2E2E2E;
}
.NewsAbout{
	position:absolute;
	top:380;
	left:710;
	border: 3px solid #585858;
	padding: 0 10px;
	width:600px;
	height:50px;
	background-color: #2E2E2E;
}
.Bugs{
	position:absolute;
	top:450;
	left:588;
	border: 3px solid #585858;
	padding: 0 10px;
	width:205px;
	height:50px;
	background-color: #2E2E2E;
}
.BugsAbout{
	position:absolute;
	top:450;
	left:815;
	border: 3px solid #585858;
	padding: 0 10px;
	width:495px;
	height:50px;
	background-color: #2E2E2E;
}
.HeaderCommunity{
	position:absolute;
	top:550;
	left:820;
	border: 3px solid #A9A9A9;
	padding: 0 10px;
	width:270px;
	height:55px;
	background-color: #8A6B41;
}
.GeneralDiscussion{
	position:absolute;
	top:640;
	left:588;
	border: 3px solid #A9A9A9;
	padding: 0 10px;
	width:300px;
	height:50px;
	background-color: #8A6B41;
}
.GeneralDiscussionAbout{
	position:absolute;
	top:640;
	left:910;
	border: 3px solid #A9A9A9;
	padding: 0 10px;
	width:400px;
	height:50px;
	background-color: #8A6B41;
}
.Fluff{
	position:absolute;
	top:710;
	left:588;
	border: 3px solid #A9A9A9;
	padding: 0 10px;
	width:100px;
	height:50px;
	background-color: #8A6B41;
}
.FluffAbout{
	position:absolute;
	top:710;
	left:710;
	border: 3px solid #A9A9A9;
	padding: 0 10px;
	width:600px;
	height:50px;
	background-color: #8A6B41;
}