<html>
	<head>
		<meta charset="utf-8">
		<link rel="shortcut icon" href="../static/img/Small_logo.png" type="image/png">
		<title>Arctifact</title>
		<style>
			.Text {
				position:absolute;
				top:257;
				left:289;
				border: 1px solid gray;
				padding: 0 10px;
				width:1323px;
				height:600px;
			}
		</style>
		<link rel="stylesheet" href="../static/css/style.css">
	</head>
	<body bgcolor="	#000000">
		<a href="/forum" class="shiny-button" style="position:absolute;top:206;left:289;"><strong>Forum</strong></a>
		<a href="http://playartifact.com/" class="shiny-button" style="position:absolute;top:206;left:625;"><strong>Official site</strong></a>
		<a href="https://store.steampowered.com/app/583950/Artifact/" class="shiny-button" style="position:absolute;top:206;left:961;"><strong>Page on Steam</strong></a>
		<a href="/about" class="shiny-button" style="position:absolute;top:206;left:1297;"><strong>About</strong></a>
		<a href="/index"><img src="../static/img/artifact_logo.png" style="position:absolute;left:289;"></a>
		<div class="Text">
			<p><font color="black">Not</font></p>
			<p><font color="black">A</font></p>
			<p><font color="black">Text</font></p>
			<p align="center"><font size="+10" color="red"><big><big><big><big><big>404</big></big></big></big></big></font></p>
			<p align="center"><font size="+10"><big><big><big>Oops! Page not found</big></big></big></font></p>
			<p align="center"><font size="+1">Sorry, but the page you are looking for is not found. Please, make sure you have typed the current URL</font></p>
		</div>
		<div class="LogIn" id="logIn" style="display: none">
			<form method="post" action="/auth">
				<p></p>
				<input class="LogInText" required type="text" size="12" placeholder="Login" name="login" maxlength="15" autocomplete="on">
				<p></p>
				<input class="LogInText" required type="password" size="12" placeholder="Password" name="password" autocomplete="on">
				<p></p>
				<input class="LogInButton" type="submit" value="Log In">
				<p></p>
			</form>
			<a href="/registration" class="LogInButton">Sign Up</a>
		</div>
		<div class="LoggedIn" id="logedIn" style="display: none">
			<p style="color:black">не пасхалка</p>
			<p></p>
			<p class="LoggedInText" align="center">You logged in as</p>
			<p></p>
			<p class="LoggedInText" id="logInText" align="center"></p>
			<button class="LogInButton" id="logOut">Log Out</button>
		</div>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js%22%3E"></script>
		<script src="../static/js/logIn_display_block.js"></script>
		<script src="../static/js/log_out.js"></script>
	</body>
</html>