<html id="html">
	<head>
		<meta charset="utf-8">
		<link rel="shortcut icon" href="../static/img/Small_logo.png" type="image/png">
		<title>Arctifact</title>
		<style>
			p {
				margin-top: 0em; /* Отступ сверху */
			}
			a { 
				text-decoration: none;
			} 
		</style>
		<link rel="stylesheet" href="../static/css/style.css">
	</head>
	<body onresize="changeSize()" bgcolor="	#000000">
		<a href="/forum" class="shiny-button" style="position:absolute;top:21.2%;left:15.2%;"><strong>Forum</strong></a>
		<a href="http://playartifact.com/" class="shiny-button" style="position:absolute;top:21.2%;left:32.8%;"><strong>Official site</strong></a>
		<a href="https://store.steampowered.com/app/583950/Artifact/" class="shiny-button" style="position:absolute;top:21.2%;left:50.4%;"><strong>Page on Steam</strong></a>
		<a href="/about" class="shiny-button" style="position:absolute;top:21.2%;left:68.1%;"><strong>About</strong></a>
		<a href="/"><img src="../static/img/artifact_logo.png" style="position:absolute;left:15.2%;" width="70.5%" height="20.2%"></a>
		<div class="HeaderDeveloper">
			<p align="center"><font size="+3" color="#D8D8D8"><b><big><big>Developer Insights</big></big></b></font></p>
		</div>
		<div class="News">
			<a href="/news"><p align="center"><font size="+3" color="#D8D8D8"><big>News</big></font></p></a>
		</div>
		<div class="NewsAbout">
			<a href="/news"><p align="center" ><font size="+3" color="#D8D8D8"><i><big>List of announced patches and events</big></i></font></p></a>
		</div>
		<div class="Bugs">
			<a href="/known_bugs"><p align="center"><font size="6%" color="#D8D8D8"><big>Known Bugs</big></font></p></a>
		</div>
		<div class="BugsAbout">
			<a href="/known_bugs"><p align="center"><font size="+3" color="#D8D8D8"><i><big>Bugs that Valve is aware of</big></i></font></p></a>
		</div>
		<div class="HeaderCommunity">
			<p align="center"><font size="+3" color="#D8D8D8"><b><big><big>Community</big></big></b></font></p>
		</div>
		<div class="GeneralDiscussion">
			<a href="/general_discussion"><p align="center"><font size="+3" color="#D8D8D8"><big>General Discussion</big></font></p></a>
		</div>
		<div class="GeneralDiscussionAbout">
			<a href="/general_discussion"><p align="center"><font size="+3" color="#D8D8D8"><i><big>Balance, Meta & Trading</big></i></font></p></a>
		</div>
		<div class="Fluff">
			<a href="/fluff"><p align="center"><font size="+3" color="#D8D8D8"><big>Fluff</big></font></p></a>
		</div>
		<div class="FluffAbout">
			<a href="/fluff"><p align="center"><font size="+3" color="#D8D8D8"><i><big>Feel free to discuss anything unrelated</big></i></font></p></a>
		</div>
		<div class="LogIn" id="logIn" style="display: none">
			<form method="post" action="/auth">
				<p></p>
				<input class="LogInText" required type="text" size="12" placeholder="login" name="login" maxlength="15" autocomplete="on"  Style ="height:14%; width:100%;">
				<p></p>
				<input class="LogInText" required type="password" size="12" placeholder="password" name="password" autocomplete="on" Style ="height:14%; width:100%;">
				<p></p>
				<input class="LogInButton" type="submit" value="Log In">
				<p></p>
			</form>
			<a href="/registration" class="LogInButton">Sign Up</a>
		</div>
		<div class="LoggedIn" id="logedIn" style="display: none">
			<p style="color:black">не пасхалка</p>
			<p></p>
			<p class="LoggedInText" align="center">You logged in as</p>
			<p></p>
			<p class="LoggedInText" id="logInText" align="center"></p>
			<button class="LogInButton" id="logOut">Log Out</button>
		</div>
		<script src="../static/js/dynamic_page_size.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js%22%3E"></script>
		<script src="../static/js/logIn_display_block.js"></script>
		<script src="../static/js/log_out.js"></script>
	</body>
</html>